<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
<header class="masthead">
      <div class="masthead-inner">
        <h1>My blog that doesnt work</h1>
        <p class="lead">Place where im gonna write about stuff or not most likelly not i also need to learn how to use , otherwise it will be hard to read</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              <a href="https://github.com/artstepanyuk/v{{ site.version }}.zip">Download</a>
            </li>
           
            <li>Currently v{{ site.version }}</li>
          </ul>
          <p>&copy; 2015. All rights reserved.</p>
        </div>
      </div>
    </header>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
